-e ../../python-common
asyncmock
cherrypy
cryptography
jsonpatch
Jinja2
pecan
prettytable<3.4.0
pyfakefs
pyOpenSSL
pytest-cov==7.1.0
pyyaml
requests-mock
scipy
setuptools
werkzeug
natsort
bcrypt
pyjwt
zstandard
